/* html 
{
    scroll-behavior: smooth; 
} */

body
{
    font-family: 'Roboto', sans-serif;  /* type of the font*/
    width: 90%;
    margin: 0;
    display: flex;
}

#container
{
    max-width: 576px;
    margin-left: auto;
    margin-right: auto;
}
#menu
{
    width: 100%; 
    background-color: rgba(40, 40, 48, 0.884);
    margin-bottom: 0%;
    display: flex;
}

ol
{
    list-style-type: none; 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px 0px;
    align-items: center;
}

#company_name
{
    font-weight: 700;
    margin-left: 14px;
    width: 100%;
    padding-left: 0;
}
.invisable
{
    display: none;
}
ul
{
    list-style-type: none; 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    cursor: pointer;
    padding-left: 0;
}

ul li a button
{
    cursor: pointer;
}

ol a button
{
    color:white;
    text-decoration: none;
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: 400;
    
}

.shadow
{
    background-image: url("img/shadow.svg");
    z-index: 1;
}

#first
{
    margin-top: 0%;
    min-height: 450px;
    height: 100vh;
    background-image: url("img/tlo2.fpg.jpg");
    color:white;
    letter-spacing: 2px;
    font-weight: 700;
    background-size: cover;
    display: flex;
    
}

#first-left
{
    height: 80vh;
    display: flex;
    flex-direction: column;
    margin-left: 14px;
    margin-top: 20%;
    /* justify-content: flex-start; */
    align-items: baseline ;
    font-size: 25px;
}
#first_top
{
    margin-top: 35%;
    width: 45%;
}

#second_top
{
    font-size: 15px;
    margin: 5% 0;
}

#button_top
{
    width: 140px;
    height: 30px;
    font-size: 15px;
    border: 3px solid white;
    background: transparent;
    color:white;
    border-radius: 4px;
    transition: 1s;
}
/* #button_top:hover
{
    background-color: white;
    color: black;
    cursor: pointer;
} */


h2
{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 36px;
    /* margin-bottom: 3%; */
}

#specialists
{
    width: 100%;
    color: black;
    margin: 8% 0;
    
    
}
.specialist
{
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: justify;
   align-items:center;
   width: 100%;
}



/* #specialists>.specialist:nth-of-type(odd)
{     
      background-color: #fff;
}
#specialists>.specialist:nth-of-type(even)
{    
    flex-direction: row-reverse;
} */

span
{
    width: 100%;
    
}
#Adas
{
    width:220px;
    height: 220px;
    border-radius: 50%;
    background-image: url("img/Adas.jpg");
    margin: 10% 0;
    text-align: center;
}

#Julek
{   
    width:220px;
    height: 220px;
    border-radius: 50%;
    background-image: url("img/Julek.jpg");
    text-align: center;
    margin: 10% 0;  
}

h3
{  
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
   margin: 5% 0;
   width: 100%;
   font-size: 18px;
}
.inner
{
    width: 80%;
    justify-content: flex-start;
    text-align: left;
}
.inner2
{
    width: 80%;
    justify-content: flex-start;
    text-align: left;
}
/* .problem
{
    justify-content: flex-start;
    
    
} */
/* h3:nth-of-type(odd)
{     
    justify-content: flex-start;
}
h3:nth-of-type(even)
{    
    justify-content: flex-end;
} */

#about_us
{
    background-color: #405D78;
    color: white;
    width: 100%;
    height: auto;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   
}

.tiles
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;  
    justify-content: center;
    height:fit-content;
}
.tile
{
background-color:#F1F1F1 ;
color: #000;
width: 250px;
height: 250px;
padding: 5%;
margin: 7% 10%; /*top,right,bottom,left*/
font-weight: 400;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: center;
 position: relative;
 transition: all;
transition-duration: 1s;

}
/* .tile:hover
{
  transform:scale(1.05);  
} */

.tile>span
{
   font-size: 24px; 
}


.tile>p
{
    font-size: 18px;
}

.dot
{
    position: absolute;
    top:-9px;
    left:-9px;
    width: 22px;
    height: 22px;
}

#footer
{
    background-color: #4e4e4e;
    color: #FFFFFF;
    height:147px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#left
{
    width: 95%;
    font-weight: 700;
    font-size:18px ;
   margin-left: 14px;
   
}

#right
{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 18px;
    width: 100%;
    margin-top: 1%;
}
#insta
{
    font-size: 45px;
}
/* #insta:hover
{
    transform: scale(1.15); 
    color: #bc2a8d;
} */
#fb
{
    font-size: 45px;
}
/* #fb:hover
{
    transform: scale(1.15); 
    color: #4267B2
} */

/* .back_scrol
{
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 10px;
    list-style-type: none; 
} */
/* .back_scrol:hover
{
    transform: scale(1.15); 
} */

@media screen and (min-width: 992px){
    #container
{
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
}
#menu
{
    width: 100%; 
    height: 50px;
    background-color: rgba(40, 40, 48, 0.884);
    margin-bottom: 0%;
    display: flex;
  
}
#first_top
{
    margin-top: 8%;
    width: 45%;
}
h2
{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 15px;
}

#specialists
{
    
    width: 100%;
    color: black;
    margin: 5% 0;
    
}
.specialist
{
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: justify;
   align-items:center;
}
#Adas
{
    width:220px;
    height: 220px;
    border-radius: 50%;
    background-image: url("img/Adas.jpg");
    margin: 5% 0;
    text-align: center;
}

#Julek
{   
    width:220px;
    height: 220px;
    border-radius: 50%;
    background-image: url("img/Julek.jpg");
    text-align: center;
    margin: 5% 0;
    
}
h3
{  
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
   margin: 5% 0;
   width: 100%;
}
span
{
    width: 100%;
    
    
}
.tiles
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;  
    justify-content: center;
    height: 1000px;
    padding-bottom: 10%;
}
.tile
{
    background-color:#F1F1F1 ;
    color: #000;
    width: 120px;
    height: 120px;
    padding: 5%;
    margin: 7% 10%; /*top,right,bottom,left*/
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
     position: relative;
     transition: all;
    transition-duration: 1s;
}
#left
{
    width: 100%;
    font-weight: 700;
    font-size:18px ;
   display: flex;
   justify-content: center;
}
#footer
{
    background-color: #4e4e4e;
    color: #FFFFFF;
    height:147px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
}

@media screen and (min-width: 1200px){
    #container
{
    min-width: 993px;

    margin-left: auto;
    margin-right: auto;
}
#menu
{
    width: 100%; 
    height: 50px;
    background-color: rgba(40, 40, 48, 0.884);
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
}
#company_name
{
    font-weight: 700;
    margin-left: 56px;
    width: 100%;
    
}
ul
{
    list-style-type: none; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    cursor: pointer;
    padding-left: 0px;
}


#first-left
{
    height: 80vh;
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    /* justify-content: flex-start; */
    align-items: baseline ;
    font-size: 25px;
    margin-left: 94px;
}
#button_top:hover
{
    background-color: white;
    color: black;
    cursor: pointer;
}
.invisable
{
    display: flex;
    justify-content: flex-end;
    width: 160%;
}
ol
{
    list-style-type: none; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 220px; 
    
}
h2
{
    margin-left: 94px;
    display: flex;
    justify-content: flex-start;
    font-weight: 700;
    font-size: 36px;
}

.specialist
{
    margin-bottom: 3%;
    
    margin-right: 5%;
    display: flex;
   flex-direction: row;
   justify-content: center;
   text-align: justify;
   align-items:center;
  
}
#specialists h2{
    margin-left: 0px;
}
#specialists {
    margin-left: 94px;
    width: auto;
}

 #specialists>.specialist:nth-of-type(odd)
{     

      background-color: #fff;

}
#specialists>.specialist:nth-of-type(even)
{    
    flex-direction: row-reverse;
} 

span
{
    width: 60%;
   
}
#Adas
{
    width:220px;
    height: 220px;
    border-radius: 50%;
    background-image: url("img/Adas.jpg");
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: -100px;
  
   
}

#Julek
{   
    width:220px;
    height: 220px;
    border-radius: 50%;
    background-image: url("img/Julek.jpg");
    text-align: center;
    justify-content: center;
    align-items: center;
  
    
}
.inner
{
    width: 65%;
    margin-left: 5%;
    text-align: left;
  
}
.inner2
{
    width: 62%;
    margin-left: -9%;
    margin-right: 5%;
    text-align: right;
    
}
.inner2 h3{
    display: flex;
    justify-content: flex-end;
    
}
.tiles
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;  
    justify-content: center;
    height: auto;
    padding-bottom: 10%;
}
.tile
{
background-color:#F1F1F1 ;
color: #000;
width: 98px;
height: 93px;
display: flex;
flex-direction: row;
padding: 40px;
 margin: 40px 60px;/* top,right,bottom,left */
font-weight: 400;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: center;
 position: relative;
 transition: all;
transition-duration: 1s;
}
.tile:hover
{
  transform:scale(1.05);  
}
.tile span
{
   font-size: 24px; 
   display: flex;
   justify-content: center;
   align-content: center;
   width: 100px;
   
}
.tile p{
    margin-top: -7px;
}
#footer
{
    background-color: #4e4e4e;
    color: #FFFFFF;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;

}

#left
{
    width: 60%;
    font-weight: 700;
    font-size:18px ;
   margin-left: 94px;
   
}

#right
{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 18px;
    width: 25%;
    margin-top: 1%;
   
}
#insta
{
    font-size: 35px;
}
#insta:hover
{
    transform: scale(1.15); 
    color: #bc2a8d;
}
#fb
{
    font-size: 35px;
}
#fb:hover
{
    transform: scale(1.15); 
    color: #4267B2
}

.back_scrol
{
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 10px;
    list-style-type: none; 
}
.back_scrol:hover
{
    transform: scale(1.15); 
}
}